.glorious-grids1,.glorious-grids2{
    
    padding-left: 40px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
   
    
}
.glorious-grids2{
    padding-right:40px;
    grid-gap:10px;
}

.glorious-grids1{
    padding-top: 10px;
    padding-right:30px;
    grid-gap:20px;
}
.glorious-grids2 img:nth-child(2){
    padding-top: 70px;
}

@media screen and (max-width:452px){
    .glorious-grids2 img:nth-child(2){
        padding-top: 20px;
    }
}
@media screen and (max-width:780px) and (min-width:1014px){
    .glorious-grids1{
        padding-top: 160px;
    }
}
@media screen and (max-width:1280px){
    .glorious-grids1, .glorious-grids2{
        padding-left: 30px;
        padding-right: 30px;
       
    }
}
.dark-mode {
    background-color: #333;
    color: #fff;
}
.dark-mode nav{
   
    background-color: #333;
  }
.dark-mode header {
    background-color: #333;
}

.dark-mode footer {
    background-color: #000;
}

.dark-mode button {
    background-color: #222;
color: #fff;
}